html, body {
  height: 100%;
  font-size: 10px; 
  /* Define the font-size to use REM as unit. */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    background-color: #FFFCF2;
    width: 100%;
    height: 8rem;
}

nav {
    background-color: #CCC5B9;
    height: 5rem;
}

main {
    background-color: #403D39;
}

section {
    background-color: #252422;
    min-height: 30rem;
    max-height: 50rem;
}

footer {
    background-color: #EB5E28;
    width: 100%;
    height: 6rem;
}