/* Background colors selected from this palette https://coolors.co/eabfcb-c191a1-a4508b-5f0a87-2f004f */

/* General */

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  background-color: #5f0a87;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: #ffffff;
}

nav {
  background-color: #2f004f;
  height: 50px;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  list-style-type: none;
}

nav ul a,
a:hover,
a:focus,
a:active {
  color: #ffffff;
  text-decoration: none;
}

main {
  background-color: #a4508b;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

section {
  background-color: #c191a1;
  min-height: 300px;
  max-height: 500px;
  overflow: hidden;
  padding: 20px;
}

section p {
  padding: 20px;
}

footer {
  background-color: #eabfcb;
  height: 60px;
  width: 100%;
  padding: 20px;
}

/* Media Queries, Desktop first-approach */
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
}
